//Container
.container{
    max-width: $max-width;
    margin:6rem auto 3rem;
    overflow: hidden;
    padding: 0 2rem;
}

//Backgrounds--
.bg{
    &-primary{
        @include set-background($primary-color);
    }
    &-light{
        @include set-background($light-color);
        border: 1px solid #ccc;
    }
    &-dark{
        @include set-background($dark-color);
    }
    &-success{
        @include set-background($success-color);
    }
    &-danger{
        @include set-background($danger-color);
    }
    &-white{
        @include set-background(#fff);
        border: 1px solid #ccc;
    }
}

//Text -Styles-
.x-large{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text{
    &-primary{
        color: $primary-color;
    }
    &-light{
        color: $light-color;
    }
    &-dark{
        color: $dark-color;
    }
    &-success{
        color: $success-color;
    }
    &-danger{
        color: $danger-color;
    }
    &-white{
        color: #fff;
    } 
}

//Buttons-
.btn{
    display: inline-block;
    background-color: $light-color;
    color:#333;
    padding: .4rem 1.3rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in;
    &-primary{
        @include set-background($primary-color);
        &:hover{
            background:lighten($primary-color,5%)
        }
    }
    &-dark{
        @include set-background($dark-color);
        &:hover{
            background:lighten($dark-color,5%)
        }
    }
    &-success{
        @include set-background($success-color);
        &:hover{
            background:lighten($success-color,5%)
        }
    }
    &-danger{
        @include set-background($danger-color);
        &:hover{
            background:lighten($danger-color,5%)
        }
    }
    &-light{
        @include set-background(#fff);
        &:hover{
            background:lighten($dark-color,20%);
            color:#fff;
        }
    }

}


//Alerts--
.alert{
    padding: 0.8rem;
    margin: 1rem;
    opacity: 0.9;
    background:$light-color;
    color: #333;
    &-primary{
        @include set-background($primary-color);
    }
    &-light{
        @include set-background($light-color);
    }
    &-dark{
        @include set-background($dark-color);
    }
    &-success{
        @include set-background($success-color);
    }
    &-danger{
        @include set-background($danger-color);
    }
    &-white{
        @include set-background(#fff);
    }

}




.dark-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}